footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  /*background-color: white;
  border-radius: 10px;*/
  border-top: 2px solid black;
  padding: unset;

  p {
    color: black;
  }
}
